<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppSetUp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A67A9D421A4B4AB000708C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A67A9E821A4B4AD000708C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A67A9F321A4B4AD000708C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
